<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>

<form th:object="${dto}" th:method="post">
    <input th:field="*{p1}">
    <input th:field="*{p2}">
    <input type="submit" th:text="Calculate">
</form>

</body>
</html>